@import "tailwindcss";

/* 
IMPORTANT: for some practical reasons i prefer using snake case instead of kebab case in css naming, but only because i am working just myself on this project, if i would have been in a team i would have followed conventions of css or those one established by team   
*/

* {
  font-family: "Bungee";
}

/* COLORS */

:root {
  --blue_pr__0: #38a3ff;
  --blue_pr__1: #008aff;

  --orange__0: #ffaa00;
  --white__0: #fff;
  --white__1: whitesmoke;

  --blue_sc__0: #d6ecff;
  --blue_sc__1: #325471;
  --blue_sc__2: #091a27;
  --blue_sc__3: #122d41;
  --blue_sc__4: #0f283c;

  --bg__0: #0c2233;
  --bg__1: #0e2c42;
}

/* TEXT */

.txt__h_sm {
  @apply text-[18px] tracking-[1px];
}
.txt__h_md {
  @apply text-[26px] tracking-[1.5px];
}
.txt__h_lg {
  @apply text-[42px] tracking-[2.5px];
}
.txt__h_sm,
.txt__h_md,
.txt__h_lg {
  @apply font-[800];
}

.txt__b {
  @apply text-[16px] tracking-[0.8px] font-[500];
}

.txt__btn_md {
  @apply text-[16px] tracking-[1px];
}
.txt__btn_lg {
  @apply text-[20px] tracking-[1.25px];
}
.txt__btn_md,
.txt__btn_lg {
  @apply font-[800];
}

.txt__f {
  @apply text-[20px] tracking-[1.25px] font-[800];
}

.txt__h_sm,
.txt__h_md,
.txt__h_lg,
.txt__b,
.txt__btn_md,
.txt__btn_lg,
.txt__f {
  @apply leading-[auto];
}

/* GENERAL */

.app__container {
  background: var(--bg__0);
}

.btn__clear {
  appearance: none;
}

/* UTILS SHADOW*/

.el__card_bg {
  @apply relative gap-[30px] w-full p-[30px] grid items-start rounded-[15px];
  background-color: var(--bg__1);
  z-index: 100;
}
.el__btn_bg {
  @apply relative min-w-full h-full flex justify-center items-center cursor-pointer min-h-[67px];
  background-color: var(--blue_pr__1);
  z-index: 100;
  appearance: none;
}

.el__btn_bg_shadow {
  @apply min-h-[115%];
  background-color: var(--blue_sc__2);
  z-index: 50;
}
.el__card_shadow {
  @apply min-h-[105%];
  background-color: var(--blue_sc__2);
  z-index: 50;
}
.el__card_shadow,
.el__btn_bg_shadow {
  @apply absolute inset-0 rounded-[15px] w-full;
}
